# queries/job
# queries/job_lip_rand_plan
queries/job_pg_lip_adaptive_join
queries/job_pg_lip_balsa
# queries/job_rand_plan
# queries/JOB_test_n_join_group_1
# queries/JOB_test_n_join_group_2
# queries/JOB_test_n_join_group_3
# queries/JOB_test_n_join_group_4
# queries/JOB_test_n_join_group_5
queries/JOB_test_n_join_group_6
# queries/tpch
# queries/tpch_pg_lip
.DS_Store
.ipynb_checkpoints